# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Nacos runtime artifacts
cmd/server/tmp/nacos/log/
cmd/server/tmp/nacos/cache/


# Frontend dependencies
frontend/node_modules/
